
body {
    font-family: 'Arvo', serif;
}

h2 {
    margin: 10px;
}

h2.hidden {
    display: none;
}

pre.config {
    margin: 5px;
}

[snapshot-name], [snapshot-name].row {
    display: inline-block;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.for-consideration .inner-example {
    border: 4px dashed red;
}

.example {
    align-self: flex-end;
    flex: 0 0 auto;
    margin: 10px;
}

.inner-example {
    margin-left: auto;
    margin-right: auto;
}

.inner-example.border {
    border: 1px dashed dimgrey;
}

.relative-resize-button {
    margin: 5px;
}

.code {
    background-color: #eeeeee;
    opacity: 0.6;
    font-weight: 200;
    border: #cccccc 1px solid;
    border-radius: 2px;
    font-family: Arial;
}

.code-block {
    background-color:antiquewhite;
    opacity: 0.6;
    display:inline-block;
    border: #cccccc 1px solid;
    border-radius: 2px;
    font-family: Arial;
}

.note {
    font-size: x-small;
    font-weight: 200;
    font-family: Arial;
}

.emphasis {
    font-weight: 900;
    font-family: Arial;
}

.relative-resize-container {
    width: 300px;
    margin: auto;
    display: flex;
}

.relative-resize-button {
    align-self: flex-end;
    flex: 0 0 auto;
}

.rerender-container {
    width: 300px;
    margin: auto;
    display: flex;
    padding-bottom: 10px;
}

.rerender-element {
  margin-left: 3px;
  margin-right: 3px;
}
